.card {
   
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: #3c6e71;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

  
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.card-subtitle {
    font-size: 1rem;
    color: #555;
}
  
.card-text {
    font-size: 1rem;
}
  
.card-footer {
    background-color: transparent; 
    border: none; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
  
.col-3 {
    background-color: transparent;
}
  
.card-image {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.card-content {
    display: flex;
}
  
.text-content {
    flex: 1;
    padding: 10px; 
    text-align: left;
}

.star-icon{
    color:yellow;
    
}
.card-links a.card-link {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.card-links a.card-link:hover {
    color: white;
}

.link-card{
    text-decoration: none; 
}