.titulo-newBook{
    text-align: center;
    padding:2rem;
}

.titulo-wrapper-newBook{
    background-color: lightblue;
    padding:2px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}