.title-wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-links {
    display: flex;
    justify-content: flex-end;
}
  
.card-link {
    margin-left: 10px; /* Adicione um espaçamento entre os links */
    text-decoration: none; /* Remova a decoração de link (sublinhado) */
    color: #007bff; /* Cor dos links (pode ajustar a cor desejada) */
}