.title-wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-links a.card-link {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.card-links a.card-link:hover {
    color: white;
}